<div class="slide-sidebar position-fixed bg-white" id="postSlideSidebar">
  <div class="container p-4">
    <h2 class="fs-3 mb-2">リストの投稿</h1>
    <%# <div class="search-bar">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="検索" aria-label="検索">
        <button class="btn btn-outline-success" type="submit">検索</button>
      </form>
    </div> %>
    <div id="search-container">
      <input type="text" id="search-input" placeholder="検索キーワードを入力">
      <button onclick="performSearch()">検索</button>
    </div>
    <form>
      <div class="mb-3">
        <label for="listTitle" class="form-label">リストの概要</label>
        <div>
          <textarea class="form-control" id="listTitle" rows="10" placeholder="例：沖縄県のおすすめのスポットをまとめました。"></textarea>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">場所</label>
        <div>
          <textarea class="form-control" id="location" rows="3" placeholder="例：沖縄県"></textarea>
        </div>
      </div>
      <div class="mb-3">
        <label for="listImage" class="form-label">写真</label>
        <div><input type="file" class="form-control" id="listImage"></div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">投稿</button>
      </div>
    </form>
  </div>
</div>