<div class="slide-sidebar position-fixed bg-white z-0" id="detailSlideSidebar">
  <div class="container p-4">
    <h2 id="detail-title" class="fs-3 mb-2">タイトル</h2>
    <p id="detail-author">ユーザー</p>
    <p id="detail-description">名古屋駅周辺のおすすめのレストランを3個まとめました。</p>
    <div id="detail-cards">
      <div id="detail-card-1" class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <p id="detail" class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>