@import 'variables';
@import 'bootstrap';
@import 'map';
@import 'sidebar';
@import 'signin';
@import 'form';

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}

.gravatar {
	border-radius: 16px;
}

nav {
	width: $navbar-width;
}
