@import 'variables';
@import 'bootstrap';
@import 'map';
@import 'sidebar';
@import 'signin';
@import 'form';

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}

.gravatar {
	border-radius: 16px;
}

nav {
	width: $navbar-width;
}

/* スクロールバーのトラック（背景） */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* スクロールバーのスライダー（つまみ） */
::-webkit-scrollbar-thumb {
	background-color: #555;
}

/* スクロールバーのトラックの背景（スクロールしない部分） */
::-webkit-scrollbar-track {
	background: #eee;
}

/* スクロールバーのコーナー */
::-webkit-scrollbar-corner {
	background: #f1f1f1;
}

::-webkit-scrollbar-button {
	display: none;
}

/* マウスオーバー時のスライダーの色 */
::-webkit-scrollbar-thumb:hover {
	background-color: #333;
}
