.form-signin {
	max-width: 330px;
	padding: 1rem;

	.form-floating:focus-within {
		z-index: 2;
	}

	#user_name {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	#user_password {
		margin-bottom: -1px;
		border-radius: 0;
	}

	#user_password_confirmation {
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	}

	#session_name {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	#session_password {
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	}
}
